<h2>Guitar Index</h2>
<ul>
	<% @guitars.each do	|guitar| %>
	<li>
		<img src="<%= guitar.guitar_url %>"></img></br>
		<%= guitar.year %></br>
		<%= guitar.make %></br>
		<%= guitar.model %></br>
		<%= guitar.finish %></br>
		<form action="/guitars/<%= guitar.id %>/edit" method="PUT">
			<input type="hidden" name="_method" value="UPDATE">
				<button>Edit Guitar</button>
		</form>
		<form action="/guitars/<%= guitar.id %>" method="POST">
			<input type="hidden" name="_method" value="DELETE">
				<button>Delete Guitar</button>
		</form>
	</li>
	<% end %>
</ul>
<div style="text-align:center">  
<a href="/guitars/new">Add Guitar</a>
</div>