<h2>Edit Guitar</h2>
<form action="/guitars/<%= @guitar.id %>" method="POST">
	<input type="hidden" name="_method" value="PUT" />
	<input type="url" name="guitar_url" value="<%= @guitar.guitar_url %>" /></br>
	<input type="text" name="year" value="<%= @guitar.year %>" /></br>
	<input type="text" name="make" value="<%= @guitar.make %>" /></br>
	<input type="text" name="model" value="<%= @guitar.model %>" /></br>
	<input type="text" name="finish" value="<%= @guitar.finish %>" /></br>
		<button>Update Guitar!</button>
</form>

